# Python
__pycache__/
*.pyc

# SQLite
*.db
.venv/
*.sqlite3

.venv/
# VS Code
.vscode/

# Backup
backup/

# Logs
*.log

# Environment
.env

# macOS
.DS_Store

# Windows
Thumbs.db

telegram_bot/data/

telegram_bot/rst.db
telegram_bot/*.backup-*

website/backend/law_snapshots/
