# Python
__pycache__/
*.pyc

# SQLite
*.db
*.sqlite3

# VS Code
.vscode/

# Backup
backup/

# Logs
*.log

# Environment
.env

# macOS
.DS_Store

# Windows
Thumbs.db

telegram_bot/data/